DTD/news/news.dtd

<!ELEMENT Newspaper (Article+)>
<!ELEMENT Article (Headline, Byline, Lead, Body, Notes)>
<!ELEMENT Headline (#PCDATA)>
<!ELEMENT Byline (#PCDATA)><!ELEMENT Lead (#PCDATA)>
<!ELEMENT Body (#PCDATA)>
<!ELEMENT Notes (#PCDATA)>
<!ATTLIST Article Author CDATA #REQUIRED>
<!ATTLIST Article Editor CDATA #REQUIRED>
<!ATTLIST Article Date CDATA #IMPLIED>
<!ATTLIST Article Edition CDATA #IMPLIED>
